.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}
.twobtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid black; */
}
.h1{
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}
.p{
    text-align: center;
    color: #cfcfcf;
}

@media screen and (max-width:767px) {
 .h1{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.p{
    text-align: center;
    color: #cfcfcf;
}
.twobtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}
.one{
    margin-bottom: 2rem;
}
   
}