.maincolor {
  background-color: #eaeaea;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
}
.btn{
  width: 20%;
}

@media screen and (max-width:767px) {
  .btn{
    width: 100%;
  }
}