.maincolor {
  background-color: #eaeaea;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  height: 50vh;
}
.header{
  margin: 3rem;
}
.header h1{
  margin-left: 1rem;
}