.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2%;
}

.explore {
  bottom: 10%;
  left: 20px;
  padding: 10px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: transform 0.3s;
}

.explore:hover {
  transform: translateY(5px); /* Move the text and icon downward on hover */
}
.explore p,
.explore svg {
  transition: transform 0.3s;
}

.explore:hover p,
.explore:hover svg {
  transform: translateY(5px); /* Move text and icon downward on hover */
}

.explore p {
  margin-bottom: -2px;
}