.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icons{
    margin-right: 5px;
    color: #03a9f4;
    width: 49%;
    height: 2rem;
}